@import '../../styles/variables';

.btn {
  display: inline-block;
  color: $solid-accent;
  background: $white;
  padding: 6px 16px;
  border: 1px solid $solid-accent;
  border-radius: $spacing-7;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: $off-white;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.btnWhite {
  background: transparent;
  border: 1px solid $white;
  color: $white;

  &:hover {
    background: $gradient-accent;
    opacity: 0.8;
  }
}
