@import '../../styles/variables';

.btn {
  display: inline-block;
  color: $solid-accent;
  background: $white;
  padding: 6px 16px;
  border: 1px solid $solid-accent;
  border-radius: $spacing-7;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: $off-white;
  }
}
