@import '../../styles/variables.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  padding: $spacing-7;
  text-align: center;
  background: $gradient-home;
  overflow-y: scroll;
  color: $white;
  z-index: 3;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  max-width: 136px;
  width: 136px;
  margin: 0 8px;

  img {
    width: 100%;
    height: auto;
  }
}

.header {
  margin-top: $spacing-4;
}

.subheader {
  margin-top: 8vh;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.noise {
  z-index: 3;
  pointer-events: none;
}

.flowers {
  opacity: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.eyeFlower {
  position: absolute;
  bottom: 0;
  left: -250px;
}

.orangeFlower {
  position: absolute;
  bottom: -300px;
  right: -240px;
}

.pinkFlower {
  position: absolute;
  bottom: -230px;
  right: 20px;
}

.groupPurpleFlower {
  position: absolute;
  bottom: -275px;
  left: 0;
}

.singlePurpleFlower {
  position: absolute;

  bottom: -200px;
  left: -200px;
}
@media screen and (max-width: 1200px) {
  .eyeFlower {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pinkFlower {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .header {
    margin-top: $spacing-8;
  }
  .singlePurpleFlower {
    bottom: -240px;
    left: -200px;
  }

  .groupPurpleFlower {
    display: none;
  }

  .orangeFlower {
    left: 140px;
  }
}
