@import '../../styles/variables.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  padding: $spacing-7;
  text-align: center;
  background: $gradient-home;
  overflow-y: scroll;
  overflow-x: hidden;
  color: $white;
  z-index: 3;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  max-width: 136px;
  width: 136px;
  margin: 0 8px;

  img {
    width: 100%;
    height: auto;
    border: 1px solid $off-white;
  }
}

.header {
  margin-top: $spacing-4;
}

.subheader {
  margin-top: 8vh;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.noise {
  z-index: 3;
  pointer-events: none;
}

.flowers {
  opacity: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
}

.eyeFlower {
  position: absolute;
  bottom: 0;
  left: -250px;
  width: 600px;
}

.orangeFlower {
  position: absolute;
  bottom: -300px;
  right: -240px;
  width: 550px;
}

.rose {
  position: absolute;
  transform: rotate(-20deg);
  bottom: 230px;
  width: 270px;
  right: -100px;
}

.roseSingle {
  position: absolute;
  transform: rotate(45deg);
  bottom: -225px;
  left: -170px;
  width: 370px;
}

.groupPurpleFlower {
  position: absolute;
  bottom: -1200px;
  right: -220px;
  transform: rotate(80deg);
}

.sunflower {
  position: absolute;
  transform: rotate(35deg);
  bottom: -275px;
  left: -100px;
  width: 400px;
}

.roundFlower {
  position: absolute;
  transform: rotate(45deg);
  width: 320px;
  bottom: -200px;
  left: -180px;
}
@media screen and (max-width: 1200px) {
  .eyeFlower {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pinkFlower {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .header {
    margin-top: $spacing-8;
  }
  .singlePurpleFlower {
    bottom: -240px;
    left: -200px;
  }

  .groupPurpleFlower {
    display: none;
  }

  .orangeFlower {
    left: 140px;
  }
}
