@import '../../styles/variables.scss';

.card {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 0px;
  background: $gradient-accent;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;

  &-main {
    width: 95vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 1em;
  }

  &-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(2em + $spacing-6);
    padding-bottom: 1em;
  }

  &-heading {
    text-align: center;
    text-transform: uppercase;
    font-family: Faubourg;
    line-height: $line-height-1;
    font-size: $font-size-5;
    color: $white;
    margin-top: 1em;
    position: absolute;
    top: 0;
  }

  &-designers {
    font-family: Cormorant;
    font-size: $font-size-3;
    text-transform: capitalize;
    margin: 0 auto;
  }

  &-description {
    font-family: Karla;
    font-size: $font-size-1;
    width: 45%;
    margin: $spacing-4 auto;
  }

  &-images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: $spacing-4;

    img {
      flex-basis: 1em;
      height: 50vh;
      margin: 0 0.15em;
      border: 1px solid $off-white;
    }
  }
}

// convert to desktop type styles
@media only screen and (min-width: 1200px) {
  .card {
    &-main {
      width: 75vw;
    }

    &-heading {
      font-size: $font-size-7;
    }
  }
}
