@import '../../styles/variables.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  padding: $spacing-7;
  text-align: center;
  background: $gradient-accent;
  color: $white;
  z-index: 3;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.header {
  margin-top: $spacing-4;
}

.subheader {
  margin-top: 10vh;
}

.content {
  // margin: $spacing-6 25%;
  display: flex;
  flex-flow: column;
  justify-content: center;

  line-height: $line-height-2;
}

.content p {
  max-width: 600px;
  margin: 0 auto $spacing-7 auto;
}

.noise {
  z-index: 3;
  pointer-events: none;
}

.eyeFlower {
  position: absolute;
  transform: translateX(-250px);
  bottom: 0;
  left: 0;
}

.orangeFlower {
  position: absolute;
  transform: translate(240px, 300px);
  bottom: 0;
  right: 0;
}

.pinkFlower {
  position: absolute;
  transform: translateY(230px);
  bottom: 0;
  right: 20px;
}

.groupPurpleFlower {
  position: absolute;
  transform: translateY(275px);
  bottom: 0;
  left: 0;
}

.singlePurpleFlower {
  position: absolute;
  transform: translate(-200px, 200px);
  bottom: 0;
  left: 0px;
}
@media screen and (max-width: 1200px) {
  .eyeFlower {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pinkFlower {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .header {
    margin-top: $spacing-8;
  }
  .singlePurpleFlower {
    transform: translate(-150px, 180px);
  }

  .groupPurpleFlower {
    transform: translate(-20px, 225px);
  }

  .orangeFlower {
    transform: translate(220px, 250px);
  }
}
