@import '../../styles/variables.scss';

.lines {
  &-main {
    width: 100%;
    background: $gradient-accent;
    position: absolute;
    opacity: 1;
    display: flex;
    justify-content: center;
  }

  &-nav-left {
    z-index: 1000;
    position: fixed;
    top: $spacing-5;
    left: $spacing-5;
  }

  &-nav-right {
    z-index: 1000;
    position: fixed;
    top: $spacing-5;
    right: $spacing-5;
  }

  &-list {
    padding-left: 0;
    text-align: center;
    list-style-type: none;
    color: $white;
    font-size: $font-size-5;
    font-family: Faubourg;
    text-transform: uppercase;
    li {
      height: auto;
      line-height: $line-height-1;
    }
  }

  &-gradient {
    background: linear-gradient(
      180deg,
      rgba(127, 109, 201, 0) 0%,
      #6d7fc9 100%
    );
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $spacing-12;
  }
}

// convert to desktop type styles
@media only screen and (min-width: 1200px) {
  .lines {
    &-nav-left {
      top: 2rem;
      left: 2rem;
    }

    &-nav-right {
      top: 2rem;
      right: 2rem;
    }

    &-list {
      font-size: $font-size-7;
    }
  }
}
